body{
  font-size: 16px;
}
h1{
  font-size: 65px;
  font-family: sans-serif;
  color: #ffa500;
}
p{
  font-weight: 600px;
  font-size: 3em;
  font-style: oblique;
  }
.padrao{
  background-color: #eee8aa;
  text-align: center;
}
li{
  list-style: none;
  font-size: 20px;
}